.container
  form
    .preview
      min-height: 500px
    .document_body
      resize: none
      min-height: 465px
    .preview
      border: 2px solid

#markdown-helper-controls
  display: none

.show-document
  .title
    margin-top: 2.5em

  .title, .body
    float: left

  .body
    width: 100%

  .url
    float: right
