%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to '/' do
          = image_tag 'tangosource.png'
  %section
    %ul.left
      %li
        %h1
          = link_to "Knowledge Base"
